header {
    text-align: center;
    background-image: url('picture/fondo.png'); /* Cambia la ruta de la imagen según corresponda */
    background-size: cover; /* Asegura que cubra completamente el ancho */
    background-repeat: no-repeat; /* Evita repeticiones */
    background-position: center; /* Centra la imagen */
    margin: 0;
    height: 60vh; /* Limita la altura al 60% de la pantalla */
    width: 100vw; /* Asegura que cubra todo el ancho */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Ajusta el color del texto */
}
/* Estilo para el contenido del header */
.main-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 8px;
}

/* Estilo para el texto "Welcome to" */
.welcome-text {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}
#cta h1 {
    font-size: 4em;
    margin: 0;
    margin-top: -10px;
    text-shadow: 2px 2px 2px #00000072;
  }

  #cta h1 span {
    color: #007bff;
  }

  section {
    padding: 50px 20px;
    text-align: center;
  }
  button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  /* Formulario */
  section#form {
    background-color: #6abae2b4;
  }

  form {
    margin: 0 auto;
    max-width: 350px;
    text-align: left;
    margin-bottom: 100px;
  }
  form label {
    display: block;
    margin-bottom: 5px;
  }
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  form button {
    width: 50%;
    margin-left: 25%;
  }

  /*Pie de pagina */
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding:1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }